<div class="container">
    <div class="d-flex justify-content-between">
        <h3>Work Items List</h3>
        <button class="btn btn-success" onclick="location.href='@Url.Action("Add", "WorkItem")'">
            Add New work Item
            </button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>yaman</td>
                <td>Test</td>
            </tr>
        </tbody>
    </table>
</div>